.row-quantity-input{
    margin-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.product-detail-quantity-input, .offcanvas-item-quantity-input{
    text-align: center;
    border: 1px solid black;
    width: 100%;
    height: 30px;
    border-left-style: none;
    border-right-style: none;
}

.product-detail-quantity-input:focus, .offcanvas-item-quantity-input:focus{
    outline: none;
}


.quantity-control{
    width: 100%;
}

.product-quantity-input{
    margin: 0px;
    padding: 0px;
}

.minus-quantity-input, .offcanvas-minus-quantity-input{
    cursor: pointer;
    width: 100%;
    height: 30px;
    border: 1px solid black;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border-right-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    user-select: none;
}



.plus-quantity-input, .offcanvas-plus-quantity-input{
    cursor: pointer;
    width: 100%;
    height: 30;
    border: 1px solid black;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-left-style: none;
    text-align: center;
    margin: 0px;
    padding: 0px;
    user-select: none;
}

.cart-item-quantity{
    width: 70%;
}
.cart-item-quantity-row{
    width: 70%;
    margin-left: 0px;
}


.cart-item-quantity-container{
    margin-left: 0px;
    width: 100%;
}

.cart-quantity-details{
    position: relative;
    margin-left: 0px;
}

.cart-item-price{
    text-align: center;
    margin-top: 10px;
}

.price-product-details {
    width: 100%;
    text-align: right;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-right: 0px;}

.currency {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 4px;
}

