{% sw_extends '@Storefront/storefront/page/product-detail/buy-widget-form.html.twig' %}


{% block page_product_detail_buy_container %} 
        
        {% if  page.product.calculatedPrices.elements == null %}
                {% set priceList = page.product.calculatedPrice %}
                {% set price = page.product.calculatedPrice.unitPrice %}
        {% else %}               
                {% set priceList = page.product.calculatedPrices.elements %}              
                {% set price = page.product.calculatedPrices.elements[0].unitPrice %}
        {% endif %}

        {% if buyable %}
                <template cart-button-plugin></template>
                {% block page_product_detail_buy_quantity_container %}
                <div class="row justify-content-md-center row-price">
                        {% block emz_page_product_price %}
                                        <div class="col-10 price-product-details" data-price-list="{{ priceList|json_encode}}" >{{ price|number_format(2) }}</div>
                                        <div class="col-2 currency">{{ page.header.activeCurrency.symbol }} {{ "general.star"|trans|sw_sanitize }}</div>                                    
                        {% endblock %}
                </div>

                <div class="row justify-content-md-center row-quantity-input">
                        {% block page_product_detail_buy_quantity %}


                        <div class="col-1 minus-quantity-input justify-content-center">{% sw_icon 'minus' %}</div> 
                        <div class="col-10 product-quantity-input"> 
                                <input type="text" name="lineItems[{{ product.id }}][quantity]" 
                                class="product-detail-quantity-input " value="{{product.minPurchase}}" data-min-purchase="{{ product.minPurchase}}" data-max-purchase="{{ product.calculatedMaxPurchase}}" data-purchase-steps="{{ product.purchaseSteps}}">
                        </div>

                        <div class="col-1 plus-quantity-input justify-content-center">{% sw_icon 'plus' %}</div>


                        {% endblock %}
                </div>
                {% endblock %}

                {% block page_product_detail_buy_redirect_input %}
                {# fallback redirect back to detail page is deactivated via js #}
                <input type="hidden"
                        name="redirectTo"
                        value="frontend.detail.page">

                <input type="hidden"
                        name="redirectParameters"
                        data-redirect-parameters="true"
                        value='{"productId": "{{ product.id }}"}'>
                {% endblock %}

                {% block page_product_detail_buy_product_buy_info %}
                <input type="hidden"
                        name="lineItems[{{ product.id }}][id]"
                        value="{{ product.id }}">
                <input type="hidden"
                        name="lineItems[{{ product.id }}][type]"
                        value="product">
                <input type="hidden"
                        name="lineItems[{{ product.id }}][referencedId]"
                        value="{{ product.id }}">
                <input type="hidden"
                        name="lineItems[{{ product.id }}][stackable]"
                        value="1">
                <input type="hidden"
                        name="lineItems[{{ product.id }}][removable]"
                        value="1">
                {% endblock %}

                {% block page_product_detail_product_buy_meta %}
                <input type="hidden"
                        name="product-name"
                        value="{{ product.translated.name }}">
                <input type="hidden"
                        name="brand-name"
                        value="{{ product.manufacturer.getName() }}">
                {% endblock %}

                {% block page_product_detail_buy_button_container %}
                <div class="row">
                        {% block page_product_detail_buy_button %}
                        <button class="btn btn-primary btn-block btn-buy"
                                title="{{ "detail.addProduct"|trans|striptags }}"
                                aria-label="{{ "detail.addProduct"|trans|striptags }}">
                                {{ "detail.addProduct"|trans|sw_sanitize }}
                        </button>
                        {% endblock %}
                </div>
                {% endblock %}
      
        {% endif %}
{% endblock %}


    