{% sw_extends '@Storefront/storefront/component/product/card/action.html.twig' %}

{% block page_product_detail_buy_product_buy_info %}


    <input type="hidden"
            name="lineItems[{{ id }}][id]"
            value="{{ id }}">
    <input type="hidden"
            name="lineItems[{{ id }}][referencedId]"
            value="{{ id }}">
    <input type="hidden"
            name="lineItems[{{ id }}][type]"
            value="product">
    <input type="hidden"
            name="lineItems[{{ id }}][stackable]"
            value="1">
    <input type="hidden"
            name="lineItems[{{ id }}][removable]"
            value="1">

    {% block emz_component_product_box_quantity_input %}

        {% if  product.calculatedPrices.elements == null %}
                {% set priceList = product.calculatedPrice %}
                {% set price = product.calculatedPrice.unitPrice %}
        {% else %}               
                {% set priceList = product.calculatedPrices.elements %}              
                {% set price = product.calculatedPrices.elements[0].unitPrice %}
        {% endif %}

        <template cart-button-plugin></template>
        <div class="row justify-content-md-center row-price">
                {% block emz_page_product_prices %}
                                <div class="col-10 price-product-details" data-price-list="{{ priceList|json_encode}}" >{{ product.calculatedPrice.unitPrice|number_format(2) }}</div>
                                <div class="col-2 currency">{{ page.header.activeCurrency.symbol }}</div>                                    
                {% endblock %}
        </div>

        <div class="row w-90 justify-content-center row-quantity-input">

                {% block page_product_detail_buy_quantity %}

                        <div class="col-2 minus-quantity-input justify-content-center">{% sw_icon 'minus' %}</div>  
                        <div class="col-8 product-quantity-input">               
                                <input type="text" name="lineItems[{{ product.id }}][quantity]" 
                                class="product-detail-quantity-input" value="{{product.minPurchase}}" data-min-purchase="{{ product.minPurchase}}" data-max-purchase="{{ product.calculatedMaxPurchase}}" data-purchase-steps="{{ product.purchaseSteps}}">   
                        </div>
                        <div class="col-2 plus-quantity-input justify-content-center">{% sw_icon 'plus' %}</div>        
                {% endblock %}
        </div>
    {% endblock %}
{% endblock %}