{% sw_extends '@Storefront/storefront/page/checkout/checkout-item.html.twig' %}

{% block page_checkout_item_quantity %}
    <div class="col-12 col-sm-4 col-md-3 cart-item-quantity">
        <div class="row cart-item-quantity-row">
            {% block page_checkout_item_quantity_label %}
                <div class="col-8 col-sm-12 cart-item-quantity-label">
                    {{ "checkout.cartHeaderQuantity"|trans|sw_sanitize }}
                </div>  
            {% endblock %}

            {% block page_checkout_item_quantity_select %}
                <div class="col-12 col-sm-11">
                    {% block page_checkout_item_quantity_form %}
                        {% if lineItem.quantityInformation and lineItem.stackable %}
                            <form action="{{ path('frontend.checkout.line-item.change-quantity', {'id': lineItem.id}) }}"
                                    class="cart-item-quantity-container"
                                    method="post"
                                    data-form-auto-submit="true">

                                {% block page_checkout_item_quantity_form_csrf %}
                                    {{ sw_csrf('frontend.checkout.line-item.change-quantity') }}
                                {% endblock %}

                                {% block page_checkout_item_quantity_redirect %}
                                    <input type="hidden"
                                            name="redirectTo"
                                            value="frontend.checkout.cart.page">
                                {% endblock %}

                                {# @var quantityInformation \Shopware\Core\Checkout\Cart\LineItem\QuantityInformation #}
                                {% set quantityInformation = lineItem.quantityInformation %}
                                {% if quantityInformation.maxPurchase %}
                                    {% set maxQuantity = quantityInformation.maxPurchase %}
                                {% else %}
                                    {% set maxQuantity = shopware.config.core.cart.maxQuantity %}
                                {% endif %}

                                {% block page_product_detail_buy_quantity %}

                                    <div class="row justify-content-center row-quantity-input">

                                        <div class="col-3 offcanvas-minus-quantity-input justify-content-center">{% sw_icon 'minus' %}</div>
                                        <div class="col-6 product-quantity-input"> 
                                            <input type="text" name="quantity" 
                                                class="offcanvas-item-quantity-input" checkout-cart-button-plugin = "true" value="{{lineItem.quantity}}" data-min-purchase="{{lineItem.quantityInformation.minPurchase}}" data-max-purchase="{{ maxQuantity}}" data-purchase-steps="{{ lineItem.quantityInformation.purchaseSteps}}">   
                                        </div>

                                        <div class="col-3 offcanvas-plus-quantity-input justify-content-center">{% sw_icon 'plus' %}</div>

                                    </div>


                                {% endblock %}
                            </form>
                        {% else %}
                            {% block page_checkout_item_quantity_number %}
                                <div class="d-flex justify-content-end cart-item-quantity">
                                    {{ lineItem.quantity }}
                                </div>
                            {% endblock %}
                        {% endif %}
                    {% endblock %}
                </div>
            {% endblock %}
        </div>
    </div>
{% endblock %}


{% block page_checkout_item_unit_price %}
    <div class="col-12 col-sm-4 col-md-1 cart-item-unit-price">
        {% block page_checkout_item_unit_price_wrapper %}
            {% if not isDiscount and not isNested %}
                {% block page_checkout_item_unit_price_label %}
                    <div class="cart-item-unit-price-label">
                        {{ "checkout.cartHeaderUnitPrice"|trans|sw_sanitize }}
                    </div>
                {% endblock %}

                {% block page_checkout_item_unit_price_inner %}
                    {{ lineItem.price.unitPrice|currency }}{% block page_checkout_item_unit_price_tax_symbol %}{{ "general.star"|trans|sw_sanitize }}{% endblock %}
                {% endblock %}
            {% endif %}
        {% endblock %}
    </div>
{% endblock %}