{% sw_extends '@Storefront/storefront/component/checkout/offcanvas-item.html.twig' %}


{% block component_offcanvas_product_image %}
    {{parent()}}
       
{% endblock %}

{% block component_offcanvas_product_buy_quantity %}
 
    <div class="row justify-content-center cart-quantity-details"> 
        <div class="col-2 offcanvas-minus-quantity-input justify-content-center">{% sw_icon 'minus' %}</div>  
        <div class="col-8 product-quantity-input"> 
            <input type="text" name="quantity" 
                class="offcanvas-item-quantity-input js-offcanvas-cart-change-quantity" checkout-cart-button-plugin = "true" value="{{quantity}}" data-min-purchase="{{ quantityInformation.minPurchase}}" data-max-purchase="{{ maxQuantity}}" data-purchase-steps="{{ quantityInformation.purchaseSteps}}">   
        </div>
    <div class="col-2 offcanvas-plus-quantity-input justify-content-center">{% sw_icon 'plus' %}</div>    
    </div>



    
    <div class="row cart-item-price">
            {{ price.totalPrice|currency }}{{ "general.star"|trans|sw_sanitize }}
            {% set referencePrice = price.referencePrice %}
            {% if referencePrice is not null %}
                <small class="cart-item-reference-price">
                    ({{ referencePrice.price|currency }}{{ "general.star"|trans|sw_sanitize }} / {{ referencePrice.referenceUnit }}&nbsp;{{ referencePrice.unitName }})
                </small>
            {% endif %}
    </div>
         
{% endblock %}

{% block component_offcanvas_product_total_price %}

{% endblock %}
